# Example Environment variables for bakery_api_gateway
ACTIVE_PROFILE=dev
API_GATEWAY_URL=http://bakery-api-gateway:8080
CONFIG_SERVER_URL=http://config-server:8081
EUREKA_URL=http://eureka-server:8082/eureka/
JWT_SECRET=bWVnYVN1cGVyU2VjcmV0S2V5Rm9yQmFrZXJ5QXV0aFNlcnZpY2UyMDI1

SERVER_PORT=8080

ELASTICSEARCH_URIS=http://elasticsearch:9200
KIBANA_URL=http://kibana:5601

SPRING_DOCKER_COMPOSE_ENABLED=false
