# Example Environment variables for bakery_api_gateway
ACTIVE_PROFILE=dev
API_GATEWAY_URL=http://bakery-api-gateway:8080
CONFIG_SERVER_URL=http://config-server:8021
EUREKA_URL=http://eureka-server:8761/eureka/
JWT_SECRET=bWVnYVN1cGVyU2VjcmV0S2V5Rm9yQmFrZXJ5QXV0aFNlcnZpY2UyMDI1
